<?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <system.webServer>
        <handlers>
          <add name="Python FastCGI"
               path="*"
               verb="*"
               modules="FastCgiModule"
               scriptProcessor="C:\Users\Administrator\Desktop\face_api_flask\env\Scripts\python.exe|C:\Users\Administrator\Desktop\face_api_flask\env\lib\site-packages\wfastcgi.py"
               resourceType="Unspecified"
               requireAccess="Script" />
        </handlers>
      </system.webServer>

      <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="my_app.wsgi_app()" />
        <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\face_api_flask" />

        <!-- Optional settings -->
        <add key="WSGI_LOG" value="C:\Users\Administrator\Desktop\face_api_flask\Logs\my_app.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
        <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="__instrumentation_key__" />
        <add key="DJANGO_SETTINGS_MODULE" value="my_app.settings" />
        <add key="WSGI_PTVSD_SECRET" value="__secret_code__" />
        <add key="WSGI_PTVSD_ADDRESS" value="localhost:9000" />
      </appSettings>
    </configuration>